<launch>
  <arg name="laser_type" default="astra"/>  <!-- r200, kinect, asus_xtion_pro -->
  <arg name="custom_rtabmap_launch_file" default="$(find jupiterobot_navigation)/launch/includes/rtabmap/$(arg laser_type)_gazebo_rtabmap.launch.xml"/>
  <include file="$(arg custom_rtabmap_launch_file)"/>
</launch>
