<?xml version="1.0"?>
<!--
    - Base      : kobuki
    - Stacks    : hexagons
    - 3d Sensor : astra
    - Laser     : hokuyo
    - Arm       : None
    - Head      : 1DOF
-->    
<robot name="jupiterobot" xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:include filename="$(find jupiterobot_description)/urdf/jupiterobot_common_library.urdf.xacro" />
  <xacro:include filename="$(find kobuki_description)/urdf/kobuki.urdf.xacro" />
  <xacro:include filename="$(find jupiterobot_description)/urdf/stacks/hexagons.urdf.xacro"/>
  <xacro:include filename="$(find jupiterobot_description)/urdf/sensors/astra.urdf.xacro"/>
  <xacro:include filename="$(find jupiterobot_description)/urdf/sensors/hokuyo.urdf.xacro"/>
  <xacro:include filename="$(find jupiterobot_head_description)/urdf/jupiterobot_head_1dof.urdf.xacro"/>

  <kobuki/>
  <stack_hexagons parent="base_link"/>
  <sensor_astra parent="plate_sensor_link"/>
  <sensor_hokuyo parent="plate_top_link"/>
</robot>
